html,
body {
  min-height: 100vh;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a,
a:visited {
  color: #0070d6;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 112, 214, 0.2);
}

ul > li {
  margin-bottom: 0.4em;
}
